<!-- お知らせ一覧画面 -->
<div class="container">
  <div class="row">
    <h3 class=" col-12 text-center page-header">お知らせ一覧</h3>
    <% if @notifications.exists? %>
      <div class="col-12 clearfix">
        <%= link_to destroy_all_notifications_path, method: :delete do %>
          <h6 class="btn btn-outline-danger float-right" style="color: black;">
            <i class="fas fa-trash" style="color: black;">全削除</i>
          </h6>
        <% end %>
      </div>

      <% @notifications.each do |notification| %>
        <table class="table table-hover mt-1">
          <thead>
            <tr>
              <th colspan="1"></th>
              <th>フォローされたユーザーのニックネーム</th>
              <th>通知タイミング</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td>
                <%= link_to user_path(notification.visitor) do %>
                  <%= notification.visitor.nickname %>
                <% end %>
              </td>
              <td><%= " (#{time_ago_in_words(notification.created_at)}前)" %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    <% else %>
      <div class="col text-center">
        <h4 class="font-weight-bold mt-5">現在、お知らせはありません</h4>
      </div>
    <% end %>
  </div>
</div>

