
<!-- Header-->
<header class="masthead">
  <div class="container">
    <div class="masthead-subheading">Put on…</div>
    <div class="masthead-heading text-uppercase">次、なに着る？</div>
    <a class="btn btn-outline btn-xl text-uppercase" href="#scroll">何が出来るの？</a>
  </div>
</header>


<!-- システム-->
<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex"><i class="bi bi-phone m-auto text-primary"></i></div>
          <h3><a href="#scroll">共有</a></h3>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex"><i class="bi bi-book m-auto text-primary"></i></div>
          <h3><a href="#scroll-2">閲覧</a></h3>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex"><i class="bi bi-bookmark-check m-auto text-primary"></i></div>
          <h3><a href="#scroll-3">フォローとブックマーク</a></h3>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- コーディネートの共有 -->
<section id="scroll">
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5"><img src="assets/about-icon01.jpg" class="circle" alt="..." /></div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h3><u>コーディネートの共有</u></h3>
          <p>写真と洋服の購入場所/サイトのリンクを添付して<br>
            あなたのコーディネートを投稿しよう
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- 気になる投稿を見つけよう-->
<section class="sec2" id="scroll-2">
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6">
        <div class="p-5"><img src="assets/about-icon02.jpg" class="circle" alt="..." /></div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h3><u>気になる投稿を見つける</u></h3>
          <p>他のユーザーの投稿を見て、<br>
            コーディネートの参考にしよう
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- フォローしよう -->
<section class="sec3" id="scroll-3">
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5"><img src="assets/about-icon03.jpg" class="circle" alt="..." /></div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
            <h3><u>フォローとブックマーク</u></h3>
            <p>気に入った投稿をするユーザーをフォローしたり、<br>
              後で確認する用のブックマーク機能を使いこなそう
            </p>
        </div>
      </div>
    </div>
  </div>
</section>