<!-- コーディネートの共有 -->
<section id="scroll">
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5"><img src="img/about-icon01.jpg" class="img-fluid rounded-circle" alt="..." /></div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h3>コーディネートの共有</h3>
          <p>説明文</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- 気になる投稿を見つけよう-->
<section>
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6">
        <div class="p-5"><img src="assets/images/about-icon02.jpg" class="img-fluid rounded-circle" alt="..." /></div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h3>気になる投稿を見つけよう！！</h3>
          <p>説明文</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- フォローしよう -->
<section>
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5"><img src="assets/images/about-icon03.jpg" class="img-fluid rounded-circle" alt="..." /></div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
            <h3>フォローしよう</h3>
            <p>説明文</p>
        </div>
      </div>
    </div>
  </div>
</section>