  <div class="top_container">
    <!-- タイトル -->
    <div class="top_title">
      <span class="top-logo"></span>
    </div>
    <div class="top_contents scroll">
      <!-- 投稿 -->
      <div class="top_block">
        <div class="top_block-text">
            <div class="in-pict">
              <% @posts.each do |post| %>
                <%= attachment_image_tag(post, :image, size: "300x300", format: "jpeg") %>
                <% post.tags.each do |tag| %>
                  <%= link_to tag.tag_name, search_tag_path(tag_id: tag.id) %><%= "(#{tag.posts.count})" %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>