
<div class="texts-wrapper">
  <div class="contents-title text-center">
    <h3>トップページ</h3>
    <div class="row" style="display: flex;">
      <% @posts.each do |post| %>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card card-scale_animation">
            <%= link_to post_path(post.id) do %>
              <%= attachment_image_tag(post, :image, size: "300x300", resize:"300x300", class:"card-img-top") %>
            <% end %>
            <div class="card-body">
              <p class="card-text">
                <% post.tags.each do |tag| %>
                  <i class="fas fa-tag"><%= link_to tag.tag_name, search_tag_path(tag_id: tag.id) %></i>
                <% end %>
              </p>
              <p><i class="far fa-clock"><%= time_ago_in_words(post.created_at)+"前" %></i></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
 </div>