/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 
 //logo設定
.logo-icon {
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  background-image: image-url('logo.png');
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}


//ヘッダー
.navbar-nav li a{
	position: relative;
}

.navbar-nav li.current a,
.navbar-nav li a:hover{
	color:#0481A2;
}

.navbar-nav li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 2px;
    background:black;
    transition: all .3s;
    transform: scale(0, 1);
    transform-origin: center top;
}

.navbar-nav li.current a::after,
.navbar-nav li :hover::after {
    transform: scale(1, 1);
}

.navbar-flex {
  display: flex;
  justify-content: space-between;
}

.navbar-form {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  justify-content: flex-start;
}

#navbarNavDropdown {
  flex-grow: 0;
}

.mypage-content {
  display: flex;
  justify-content: space-between;
}

.mypage-right, .mypage-left {
  width: 48%;
}

.mypage-left-info {
  margin-top: 10px;
}

.list-group {
  margin-top: 10px;
}