/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 
@font-face {
  // font-family: '851MkPOP_100';
  // src: font-url('/assets/fonts/851MkPOP_100.ttf')
  font-family: 'Helvetica','Arial','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'sans-serif;
}


/*ページネーション自体のデザイン*/
.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
}
 
 header {
   min-height: 10vh;
 }
 
 main {
   min-height: 80vh;
 }
 
 footer {
   min-height: 10vh;
 }
 
 
 //logo設定
.logo-icon {
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  background-image: image-url('logo2.jpg');
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}


//ヘッダー

/* ヘッダーに影をつける */
.navbar {
  box-shadow: 0 5px 6px rgba(0,0,0,0.2);
}

.navbar-nav li a{
	position: relative;
}

.navbar-nav li.current a,
.navbar-nav li a:hover{
	color:#0481A2;
}

.navbar-nav li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 2px;
    background:black;
    transition: all .3s;
    transform: scale(0, 1);
    transform-origin: center top;
}

.navbar-nav li.current a::after,
.navbar-nav li :hover::after {
    transform: scale(1, 1);
}

.navbar-flex {
  display: flex;
  justify-content: space-between;
}

.navbar-form {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  justify-content: flex-start;
}

#navbarNavDropdown {
  flex-grow: 0;
}

.n-circle {
  position: absolute;
  right: 115px;
  padding-left: 1rem;
  padding-top: 0rem;
  color: #efa04c;
}

//マイページ
.mypage-content {
  display: flex;
  justify-content: space-between;
}

.mypage-top {
  margin-top: 40px;
}

.mypage-right {
  margin-top: 70px;
}

.mypage-right, .mypage-left {
  width: 48%;
}

.mypage-left-info {
  margin-top: 10px;
}

.all-post {
  margin-top: 3px;
}

.list-group {
  margin-top: 10px;
}

//投稿
.card-title-ja, .card-comment-ja, .card-tag-ja, .card-site-ja {
  background: linear-gradient(transparent 50%, #d3d3d3 50%);
  width: 30vh;
}


// Top/Timelineでの画像の中にブックマークボタン
.card-in-bookmark {
  position: relative;
}

.card-in-bookmark-btn {
  width: 50px;
  height: 50px;
  color: #ffffff;
  // background-color: #2779bd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  
  position: absolute;
  top: 80%;
  // left: 65%;
}