
.card {
  margin: 0 auto 30px;
  // max-width: 280px;
}
.card-body p {
  text-align: left;
}

.card-scale_animation{
  transition: 0.5s;
}

.card-scale_animation:hover{
  transform: scale(1.05);
  transition: 0.5s;
  z-index: 1;
}
