// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-header {
  margin-top: 10px;
}

.post-detail {
  margin-top: 30px;
}