// Place all the styles related to the timeline controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// @import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
.font-top-2 {
  // font-family: 'Zen Kurenaido', sans-serif;
  font-family: 'Wawati SC','Helvetica Neue','Helvetica','Arial', sans-serif;
}